/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'LatoWeb', "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1, h3 {
  text-align: center;
}

a {
	text-decoration: none;
}

table {
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
}

tr:first-child{
  background-color: lightblue;
  border-bottom: solid 1px gray;
}

tr {
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

button,
input[type="submit"] {
  background-color: lightblue;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
}

button {
  width: 100%;
}

.wrapper {
  flex: 1;
}

.submitForm {
  display: flex;
}

.tableColumn-1,
.tableColumn-2 {
  text-align: center;
  flex: 8;
}

.tableColumn-3 {
  flex: 1;
}

.name {
	font-size: 1.5em;
}

.name,
.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: lightblue;
	text-transform: uppercase;
}

a:visited {
  color: inherit;
}

.links li a:hover {
	color: lightblue;
  background: #fff;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
	padding-top: 1em;
	padding-bottom: 1em;
	background: lightblue;
}

.main-footer {
	text-align: center;
	padding: 1em 0;
	background: lightgray;
}

#errorMessage {
  visibility: collapse;
  text-align: center;
  color: red;
  margin: 0;
}

@media (min-width: 769px) {

  .main-header {
    display: flex;
    justify-content: space-around;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }

  .main-nav,
  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    align-items: flex-end;
  }

  .column:first-child {
    width: 35%;
    margin-right: 24px;
  }

  .column:last-child {
    width: 65%;
  }
}

/* -------------
  SVG
------------- */

@keyframes move {
  0% { transform: translateX(0); }
  80% { transform: translateX(120px); }
  100% { transform: translateX(120px); }
}

@keyframes hide {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

svg * {
  transform-origin: 50% 50%;
}

.arrow {
  animation:  show .2s ease-in,
              move 1s .2s ease-in backwards,
              hide 1s .2s ease;
}
